DB_HOST=your-rds-endpoint.region.rds.amazonaws.com
DB_PORT=3306
DB_NAME=your_database_name
DB_USER=your_username
DB_PASSWORD=your_password

SSH_HOST=your-ec2-ip
SSH_USER=ubuntu
SSH_KEY_FILE=.ssh/your-key.pem
LOCAL_PORT=3307